body{
    width: 800px;
    margin: auto;
}
/* impostazione header */
.pattern{
    width: 100%;
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size: contain;
}
/* Main */

/* sezione 1 */
.immagine-uno {
    float: left;
    width: 50%;
}

.tim-conference{
    max-width: 100%;
}

.immagine-due{
    width: 50%;
    float: left;
}